.hidden {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@500&family=Patrick+Hand&display=swap");

* {
  font-family: "IBM Plex Serif", serif;
  font-family: "Patrick Hand", cursive;
}

body {
  background-color: #212529;
}
